<!-- <style>
  .navbar-nav {
    margin-left: auto;
  }
</style> -->
<nav class="navbar navbar-expand navbar-dark bg-dark" [dir]="dir">
  <button
    pButton
    type="button"
    *ngIf="getScreenWidth <= maxWidth"
    (click)="yourVisibleVaraible = true"
    class="p-button-outlined p-button-text p-button-secondary"
  >
    <i class="pi pi-bars"></i></button
  ><a class="navbar-brand"> {{ "title" | translate }}</a>

  <div class="nav navbar-nav ml-auto" [dir]="dir">
    <div *ngIf="getScreenWidth <= maxWidth">
      <p-sidebar
        [(visible)]="yourVisibleVaraible"
        [position]="isEnglish() ? 'left' : 'right'"
        [baseZIndex]="baseZIndex"
      >
        <h3>{{ "title" | translate }}</h3>
        <a class="nav-item nav-link" [routerLink]="['books']"
          ><i
            class="pi pi-book"
            style="padding: 0% 5%"
            (click)="yourVisibleVaraible = false"
          ></i
          >{{ "books" | translate }}
          <span class="visually-hidden">(current)</span></a
        >
        <a class="nav-item nav-link" [routerLink]="['borrow']"
          ><i class="pi pi-clock" style="padding: 0% 5%"></i
          >{{ "borrows" | translate }}</a
        >
        <a
          class="nav-item nav-link"
          *ngIf="isLibrarian()"
          [routerLink]="['customers']"
          ><i class="pi pi-users" style="padding: 0% 5%"></i
          >{{ "customers" | translate }}</a
        >
        <a class="nav-item nav-link" [routerLink]="['profile']"
          ><i class="pi pi-user-edit" style="padding: 0% 5%"></i
          >{{ "profile" | translate }}</a
        >
        <a
          class="nav-item nav-link"
          *ngIf="isEnglish()"
          (click)="changeLocale('ar')"
          ><i class="pi pi-filter" style="padding: 0% 5%"></i
          >{{ "button_ar" | translate }}</a
        >
        <a
          class="nav-item nav-link"
          *ngIf="!isEnglish()"
          (click)="changeLocale('en')"
          ><i class="pi pi-filter" style="padding: 0% 5%"></i
          >{{ "button_en" | translate }}</a
        >
      </p-sidebar>
    </div>
    <a
      class="nav-item nav-link"
      [routerLink]="['books']"
      *ngIf="getScreenWidth > maxWidth"
      >{{ "books" | translate
      }}<span class="visually-hidden">(current)</span></a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['borrow']"
      *ngIf="getScreenWidth > maxWidth"
      >{{ "borrows" | translate }}</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['customers']"
      *ngIf="getScreenWidth > maxWidth && isLibrarian()"
      >{{ "customers" | translate }}</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['profile']"
      *ngIf="getScreenWidth > maxWidth"
      >{{ "profile" | translate
      }}<span class="visually-hidden">(current)</span></a
    >
    <a
      class="nav-item nav-link"
      *ngIf="getScreenWidth > maxWidth && isEnglish()"
      (click)="changeLocale('ar')"
      >{{ "button_ar" | translate
      }}<span class="visually-hidden">(current)</span></a
    >
    <a
      class="nav-item nav-link"
      *ngIf="getScreenWidth > maxWidth && !isEnglish()"
      (click)="changeLocale('en')"
      >{{ "button_en" | translate
      }}<span class="visually-hidden">(current)</span></a
    >
  </div>
</nav>

<router-outlet></router-outlet>
