<form (ngSubmit)="onSubmit()" #addNew="ngForm">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <span class="ui-float-label">
          <label for="float-input">Book Title: </label>

          <input
            name="title"
            id="float-input"
            type="text"
            pInputText
            style="width: 100%"
            [placeholder]="'Enter Book Title'"
            [(ngModel)]="book.title"
          />
        </span>
        <hr />
        <div class="col-2">
          <label for="description">Description:</label>
        </div>
        <div class="col-9">
          <span>
            <textarea
              rows="4"
              cols="50"
              id="description"
              pInputTextarea
              [(ngModel)]="book.description"
              name="description"
            ></textarea>
          </span>
        </div>
        <hr />
        <span class="ui-float-label">
          <label for="float-authorName">Author: </label>
          <input
            id="float-authorName"
            type="text"
            [(ngModel)]="book.authorName"
            style="width: 100%"
            pInputText
            [placeholder]="'Enter Author Name'"
            name="authorName"
          />
        </span>
        <span class="ui-float-label">
          <label for="float-genres">Genres: </label>
          <input
            id="float-genres"
            type="text"
            [(ngModel)]="book.genres"
            style="width: 100%"
            [placeholder]="'Separated By Commas'"
            pInputText
            name="genres"
          />
        </span>
        <hr />

        <label for="pageCount">Pages: </label>
        <input
          type="text"
          pInputText
          [(ngModel)]="book.pageCount"
          name="pageCount"
          id="pageCount"
          style="width: 100%"
        />
        <p-slider
          [min]="0"
          [max]="1000"
          [(ngModel)]="book.pageCount"
          name="pageCount"
        ></p-slider>
        <hr />
        <span class="ui-float-label">
          <label for="float-serialNumber">ISBN: </label>
          <input
            id="float-serialNumber"
            type="text"
            [(ngModel)]="book.serialNumber"
            style="width: 100%"
            [placeholder]="'Separated By Commas'"
            pInputText
            name="serialNumber"
          />
        </span>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-8">
        <p>AddNew Valid: {{ addNew.form.valid }}</p>
      </div>
      <div class="col-2">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!addNew.form.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
