<p-table [value]="books" dataKey="title" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>EXP</th>
      <th>Title</th>
      <th>authorName</th>
      <th>dateOfCreation</th>
      <th>pageCount</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="book"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>{{ book.title }}</td>
      <td>{{ book.authorName }}</td>
      <td>{{ book.dateOfCreation }}</td>
      <td>{{ book.pageCount }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-book>
    <hr />
    <p-panel>
      <p-header> {{ book.title }} </p-header>
      {{ book.description }}
      <p-footer>
        <p-rating [(ngModel)]="book.rating"></p-rating>
      </p-footer>
    </p-panel>
  </ng-template>
</p-table>
