<div class="wrapper fadeInDown" [dir]="dir">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 [class]="isLoginMode ? 'active' : ''" (click)="switchToLogIn()">
      {{ "signin" | translate }}
    </h2>
    <h2
      [class]="'inactive underlineHover ' + (!isLoginMode ? 'active' : '')"
      (click)="switchToSignUp()"
    >
      {{ "signup" | translate }}
    </h2>

    <!-- Login Form -->
    <form *ngIf="isLoginMode">
      <input
        type="text"
        id="login"
        class=""
        name="loginU"
        [(ngModel)]="username"
        [placeholder]="'login.username' | translate"
      />
      <input
        type="password"
        id="password"
        class=""
        name="loginP"
        [(ngModel)]="password"
        [placeholder]="'login.password' | translate"
      />
      <input type="submit" (click)="onSubmit()" [value]="'login' | translate" />
    </form>
    <form *ngIf="!isLoginMode">
      <input
        type="text"
        id="login"
        class=""
        name="login"
        [placeholder]="'login.name' | translate"
        [(ngModel)]="newUser.name"
      />
      <input
        type="text"
        id="login"
        class=""
        name="login"
        [placeholder]="'login.username' | translate"
        [(ngModel)]="newUser.username"
      />
      <input
        type="password"
        id="login"
        class=""
        name="login"
        [placeholder]="'login.password' | translate"
        [(ngModel)]="newUser.password"
      />
      <input
        type="text"
        id="login"
        class=""
        name="login"
        [placeholder]="'login.phoneNumber' | translate"
        [(ngModel)]="newUser.phoneNumber"
      />

      <input
        type="submit"
        class=""
        (click)="signup()"
        [value]="'signup' | translate"
      />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a
        class="underlineHover"
        (click)="changeLang('ar')"
        *ngIf="isEnglish()"
        >{{ "button_ar" | translate }}</a
      >
      <a
        class="underlineHover"
        (click)="changeLang('en')"
        *ngIf="!isEnglish()"
        >{{ "button_en" | translate }}</a
      >
    </div>
  </div>
</div>
