<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 [class]="isLoginMode ? 'active' : ''" (click)="switchToLogIn()">
      Sign In
    </h2>
    <h2
      [class]="'inactive underlineHover ' + (!isLoginMode ? 'active' : '')"
      (click)="switchToSignUp()"
    >
      Sign Up
    </h2>

    <!-- Login Form -->
    <form *ngIf="isLoginMode">
      <input
        type="text"
        id="login"
        class=""
        name="login"
        [(ngModel)]="username"
        [placeholder]="'login.username' | translate"
      />
      <input
        type="password"
        id="password"
        class=""
        name="login"
        [(ngModel)]="password"
        [placeholder]="'login.password' | translate"
      />
      <input type="submit" (click)="onSubmit()" value="Log In" />
    </form>
    <form *ngIf="!isLoginMode">
      <input
        type="text"
        id="login"
        class=""
        name="login"
        [placeholder]="'login.name' | translate"
        [(ngModel)]="newUser.name"
      />
      <input
        type="text"
        id="login"
        class=""
        name="login"
        [placeholder]="'login.username' | translate"
        [(ngModel)]="newUser.username"
      />
      <input
        type="password"
        id="login"
        class=""
        name="login"
        [placeholder]="'login.password' | translate"
        [(ngModel)]="newUser.password"
      />
      <input
        type="text"
        id="login"
        class=""
        name="login"
        [placeholder]="'login.phoneNumber' | translate"
        [(ngModel)]="newUser.phoneNumber"
      />

      <input type="submit" class="" (click)="signup()" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter" *ngIf="isLoginMode">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
