<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4" *ngIf="!isCustomer()">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="showAddNewDialog()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>
  <p-table [value]="books" dataKey="title" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title" width="30%">
          Title<p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="authorName" width="18%">
          authorName<p-sortIcon field="authorName"></p-sortIcon>
        </th>
        <th pSortableColumn="dateOfCreation" width="20%">
          dateOfCreation<p-sortIcon field="dateOfCreation"></p-sortIcon>
        </th>
        <th pSortableColumn="pageCount" width="15%">
          pageCount<p-sortIcon field="pageCount"></p-sortIcon>
        </th>
        <th pSortableColumn="rating" width="10%">
          Rating<p-sortIcon field="rating"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book let-expanded="expanded">
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.authorName }}</td>
        <td>{{ book.dateOfCreation }}</td>
        <td>{{ book.pageCount }}</td>
        <p-rating
          [cancel]="false"
          [readonly]="true"
          [(ngModel)]="book.rating"
        ></p-rating>
        <td>
          <button
            type="button"
            pButton
            pRipple
            (click)="confirmEdit(false)"
            [pRowToggler]="book"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-book>
      <tr>
        <td colspan="6">
          <div class="p-3">
            <p-panel>
              <p-header>
                <p *ngIf="!isEditMode">{{ book.title }}</p>
                <input
                  *ngIf="isEditMode"
                  type="text"
                  pInputText
                  [(ngModel)]="bookEdit.title"
                  name="title"
                />
              </p-header>
              <h3 *ngIf="!isEditMode">By: {{ book.authorName }}</h3>
              <p *ngIf="!isEditMode">{{ book.description }}</p>
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <input
                      *ngIf="isEditMode"
                      type="text"
                      pInputText
                      [(ngModel)]="bookEdit.authorName"
                      name="authorName"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <textarea
                      [rows]="5"
                      [cols]="100"
                      [(ngModel)]="book.description"
                      *ngIf="isEditMode"
                      pInputTextarea
                      autoResize="autoResize"
                    ></textarea>
                  </div>
                </div>
              </div>

              <p-footer>
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <p-rating
                        [readonly]="true"
                        [cancel]="false"
                        [(ngModel)]="book.rating"
                        style="padding: auto"
                      ></p-rating>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                      <button
                        pButton
                        pRipple
                        label="Edit"
                        class="p-button-info"
                        icon="pi pi-pencil"
                        (click)="enableEdit(book)"
                        *ngIf="!isEditMode"
                      ></button>
                      <button
                        pButton
                        pRipple
                        class="p-button-info"
                        icon="pi pi-times"
                        label="Cancel"
                        (click)="confirmEdit(false)"
                        *ngIf="isEditMode"
                      ></button>
                    </div>
                    <div class="col-md-2">
                      <button
                        pButton
                        pRipple
                        label="Delete"
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="deleteSelected(book.id)"
                        *ngIf="!isEditMode"
                      ></button>
                      <button
                        pButton
                        pRipple
                        label="Confirm"
                        class="p-button-info"
                        icon="pi pi-check"
                        (click)="confirmEdit(true)"
                        *ngIf="isEditMode"
                      ></button>
                    </div>
                  </div>
                </div>
              </p-footer>
            </p-panel>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Add New Book" [(visible)]="isAddNewMode" [modal]="true">
  <form (ngSubmit)="onSubmit()" #addNew="ngForm">
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <span class="ui-float-label">
            <label for="float-input">Book Title: </label>

            <input
              name="title"
              id="float-input"
              type="text"
              pInputText
              style="width: 100%"
              [placeholder]="'Enter Book Title'"
              [(ngModel)]="bookEdit.title"
            />
          </span>
          <hr />
          <div class="col-2">
            <label for="description">Description:</label>
          </div>
          <div class="col-9">
            <span>
              <textarea
                rows="4"
                cols="50"
                id="description"
                pInputTextarea
                [(ngModel)]="bookEdit.description"
                name="description"
              ></textarea>
            </span>
          </div>
          <hr />
          <span class="ui-float-label">
            <label for="float-authorName">Author: </label>
            <input
              id="float-authorName"
              type="text"
              [(ngModel)]="bookEdit.authorName"
              style="width: 100%"
              pInputText
              [placeholder]="'Enter Author Name'"
              name="authorName"
            />
          </span>
          <span class="ui-float-label">
            <label for="float-genres">Genres: </label>
            <input
              id="float-genres"
              type="text"
              [(ngModel)]="bookEdit.genres"
              style="width: 100%"
              [placeholder]="'Separated By Commas'"
              pInputText
              name="genres"
            />
          </span>
          <hr />

          <label for="pageCount">Pages: </label>
          <input
            type="text"
            pInputText
            [(ngModel)]="bookEdit.pageCount"
            name="pageCount"
            id="pageCount"
            style="width: 100%"
          />
          <p-slider
            [min]="0"
            [max]="1000"
            [(ngModel)]="bookEdit.pageCount"
            name="pageCount"
          ></p-slider>
          <hr />
          <span class="ui-float-label">
            <label for="float-serialNumber">ISBN: </label>
            <input
              id="float-serialNumber"
              type="text"
              [(ngModel)]="bookEdit.serialNumber"
              style="width: 100%"
              [placeholder]="'Separated By Commas'"
              pInputText
              name="serialNumber"
            />
          </span>
          <hr />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-9"></div>
          <div class="col-2">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
