<p-toast></p-toast>

<div class="card" [dir]="dir">
  <p-toolbar styleClass="p-mb-4" *ngIf="!isCustomer()">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        [label]="'book.new' | translate"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="showAddNewDialog()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-block"
      ></p-fileUpload>
      <!-- <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button> -->
    </ng-template>
  </p-toolbar>
  <p-table
    [value]="books"
    dataKey="title"
    [paginator]="true"
    [rows]="10"
    [dir]="dir"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title" width="30%">
          {{ "book.title" | translate }}<p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="authorName" width="18%">
          {{ "book.author" | translate
          }}<p-sortIcon field="authorName"></p-sortIcon>
        </th>
        <th pSortableColumn="dateOfCreation" width="20%">
          {{ "book.doc" | translate
          }}<p-sortIcon field="dateOfCreation"></p-sortIcon>
        </th>
        <th pSortableColumn="pageCount" width="15%">
          {{ "book.pageCount" | translate
          }}<p-sortIcon field="pageCount"></p-sortIcon>
        </th>
        <th pSortableColumn="rating" width="10%">
          {{ "book.rating" | translate
          }}<p-sortIcon field="rating"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book let-expanded="expanded">
      <tr>
        <td [dir]="dir">{{ book.title }}</td>
        <td [dir]="dir">{{ book.authorName }}</td>
        <td [dir]="dir">{{ book.dateOfCreation }}</td>
        <td [dir]="dir">{{ book.pageCount }}</td>
        <td [dir]="dir">
          <p-rating
            [dir]="dir"
            [cancel]="false"
            [readonly]="true"
            [(ngModel)]="book.rating"
          ></p-rating>
        </td>
        <td [dir]="dir">
          <button
            type="button"
            pButton
            pRipple
            (click)="confirmEdit(false)"
            [pRowToggler]="book"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="
              dir == 'ltr'
                ? expanded
                  ? 'pi pi-chevron-down'
                  : 'pi pi-chevron-right'
                : expanded
                ? 'pi pi-chevron-down'
                : 'pi pi-chevron-left'
            "
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-book>
      <tr>
        <td colspan="6">
          <div class="p-3">
            <p-panel>
              <p-header>
                <p *ngIf="!isEditMode">{{ book.title }}</p>
                <input
                  *ngIf="isEditMode"
                  type="text"
                  pInputText
                  [(ngModel)]="bookEdit.title"
                  name="title"
                />
              </p-header>
              <h3 *ngIf="!isEditMode">By: {{ book.authorName }}</h3>
              <p *ngIf="!isEditMode">{{ book.description }}</p>
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <input
                      *ngIf="isEditMode"
                      type="text"
                      pInputText
                      [(ngModel)]="bookEdit.authorName"
                      name="authorName"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <textarea
                      [rows]="5"
                      [cols]="100"
                      [(ngModel)]="book.description"
                      *ngIf="isEditMode"
                      pInputTextarea
                      autoResize="autoResize"
                    ></textarea>
                  </div>
                </div>
              </div>

              <p-footer>
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <p-rating
                        [readonly]="true"
                        [cancel]="false"
                        [(ngModel)]="book.rating"
                        style="padding: auto"
                      ></p-rating>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                      <button
                        pButton
                        pRipple
                        [label]="'edit' | translate"
                        class="p-button-info"
                        icon="pi pi-pencil"
                        (click)="enableEdit(book)"
                        *ngIf="!isEditMode && !isCustomer()"
                      ></button>
                      <button
                        pButton
                        pRipple
                        class="p-button-info"
                        icon="pi pi-times"
                        [label]="'cancel' | translate"
                        (click)="confirmEdit(false)"
                        *ngIf="isEditMode && !isCustomer()"
                      ></button>
                    </div>
                    <div class="col-md-2">
                      <button
                        pButton
                        pRipple
                        [label]="'delete' | translate"
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="deleteSelected(book.id)"
                        *ngIf="!isEditMode && !isCustomer()"
                      ></button>
                      <button
                        pButton
                        pRipple
                        [label]="'confirm' | translate"
                        class="p-button-info"
                        icon="pi pi-check"
                        (click)="confirmEdit(true)"
                        *ngIf="isEditMode && !isCustomer()"
                      ></button>
                      <button
                        pButton
                        pRipple
                        [label]="'book.requestBorrow' | translate"
                        class="p-button-info"
                        icon="pi pi-calendar-minus"
                        (click)="requestBook(book)"
                        *ngIf="!isEditMode && isCustomer()"
                      ></button>
                    </div>
                  </div>
                </div>
              </p-footer>
            </p-panel>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-toolbar styleClass="p-mb-4" *ngIf="!isCustomer()">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        [label]="'book.new' | translate"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="showAddNewDialog()"
      ></button>
    </ng-template>

    <!-- <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-block"
      ></p-fileUpload>
       <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button> 
    </ng-template> -->
  </p-toolbar>
</div>
<p-dialog
  [header]="'book.addNewHeader' | translate"
  [(visible)]="isAddNewMode"
  [modal]="true"
  [dir]="dir"
>
  <form (ngSubmit)="onSubmit()" #addNew="ngForm">
    <div class="container" [dir]="dir">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <span class="ui-float-label">
            <label for="float-input">
              {{ "book.inputBookTitleLabel" | translate }}</label
            >

            <input
              name="title"
              id="float-input"
              type="text"
              pInputText
              style="width: 100%"
              [placeholder]="'book.inputBookTitlePlaceHolder' | translate"
              [(ngModel)]="bookEdit.title"
            />
          </span>
          <hr />
          <div class="col-2">
            <label for="description">{{
              "book.inputBookDescLabel" | translate
            }}</label>
          </div>
          <div class="col-9">
            <span>
              <textarea
                rows="4"
                cols="50"
                id="description"
                pInputTextarea
                [(ngModel)]="bookEdit.description"
                name="description"
              ></textarea>
            </span>
          </div>
          <hr />
          <span class="ui-float-label">
            <label for="float-authorName">{{
              "book.inputBookAuthorLabel" | translate
            }}</label>
            <input
              id="float-authorName"
              type="text"
              [(ngModel)]="bookEdit.authorName"
              style="width: 100%"
              pInputText
              [placeholder]="'book.inputBookAuthorLabel' | translate"
              name="authorName"
            />
          </span>
          <span class="ui-float-label">
            <label for="float-genres">{{
              "book.inputBookGenresLabel" | translate
            }}</label>
            <input
              id="float-genres"
              type="text"
              [(ngModel)]="bookEdit.genres"
              style="width: 100%"
              [placeholder]="'book.inputBookGenresPlaceHolder' | translate"
              pInputText
              name="genres"
            />
          </span>
          <hr />

          <label for="pageCount">{{
            "book.inputBookPagesLabel" | translate
          }}</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="bookEdit.pageCount"
            name="pageCount"
            id="pageCount"
            style="width: 100%"
          />
          <p-slider
            [min]="0"
            [max]="1000"
            [(ngModel)]="bookEdit.pageCount"
            name="pageCount"
          ></p-slider>
          <hr />
          <span class="ui-float-label">
            <label for="float-serialNumber">{{
              "book.inputBookISBNLabel" | translate
            }}</label>
            <input
              id="float-serialNumber"
              type="text"
              [(ngModel)]="bookEdit.serialNumber"
              style="width: 100%"
              [placeholder]="'book.inputBookISBNPlaceHolder' | translate"
              pInputText
              name="serialNumber"
            />
          </span>
          <hr />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-9"></div>
          <div class="col-2">
            <button class="btn btn-primary" type="submit">
              {{ "confirm" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
