<p-table [value]="borrows" [dir]="dir">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "book.title" | translate }}</th>
      <th>{{ "borrow.customer" | translate }}</th>
      <th>{{ "borrow.doc" | translate }}</th>
      <th>{{ "borrow.status" | translate }}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-borrow>
    <tr>
      <td>{{ borrow.book.title }}</td>
      <td>{{ borrow.user.name }}</td>
      <td>{{ borrow.dateOfCreation }}</td>
      <td>
        <span [class]="'product-badge status-' + status[1]">
          {{ borrow.status.status }}
        </span>
      </td>
      <td>
        <div *ngIf="displayAcceptReject(borrow)" class="row">
          <div class="col-3">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-check"
              class="p-button-outlined p-button-rounded"
              (click)="acceptRequest(borrow)"
            ></button>
          </div>
          <div class="col-3">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-outlined p-button-rounded p-button-rounded p-button-danger"
              (click)="rejectRequest(borrow)"
            ></button>
          </div>
        </div>

        <div *ngIf="displayCancelRequest(borrow)" class="row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-outlined p-button-rounded p-button-rounded p-button-danger"
            [label]="'cancel' | translate"
            (click)="cancelRequest(borrow)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
