<p-table
  [value]="customers"
  dataKey="title"
  [paginator]="true"
  [rows]="10"
  [dir]="dir"
>
  <ng-template pTemplate="header">
    <tr [dir]="dir">
      <th>{{ "id" | translate }}</th>
      <th>{{ "profile.username" | translate }}</th>
      <th>{{ "profile.name" | translate }}</th>
      <th>{{ "profile.doc" | translate }}</th>
      <th>{{ "profile.updated" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer let-expanded="expanded">
    <tr [dir]="dir">
      <td>{{ customer.id }}</td>
      <td>{{ customer.username }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.dateOfCreation }}</td>
      <td>{{ customer.lastUpdate }}</td>
    </tr>
  </ng-template>
</p-table>
